<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}AutoFix{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <!-- Шапка / Меню -->
  <header class="navbar-fixed">
  <header class="main-header">
    <div class="logo">AutoFix</div>
    <nav class="main-nav">
      <a href="/">Главная</a>
      <a href="/order">Заказ</a>
      <a href="/gallery">Галерея</a>
      {% if current_user %}
  <a href="{{ url_for('account') }}">Мой аккаунт</a>
  <a href="{{ url_for('logout') }}" class="auth-link">Выйти</a>
{% else %}
  <a href="{{ url_for('auth') }}" class="auth-link">Вход / Регистрация</a>
{% endif %}
    </nav>
  </header>
    </header>

  <!-- Контент -->
  <main>
    {% block content %}{% endblock %}
    {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
  </main>

  <!-- Подвал -->
  <footer>
    <div class="footer-left">
      <p>Разработка сайта — Студентом Лесотехнического факультета</p>
      <p>Трепалиным Александром</p>
    </div>
    <div class="footer-links">
      <div>
        <h4>Документы</h4>
        <a href="#">Пользовательское соглашение</a>
      </div>
      <div>
        <h4>Контакты</h4>
        <p>Г. Воронеж, пр. Ленина б-р, д. 65</p>
        <p>info@uzauto.ru</p>
      </div>
    </div>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
